<h1>Admin Panel</h1>
<ul>
  <% users.forEach(user => { %>
  <li>
    <%= user.username %> <% if (!user.isAdmin) { %>
    <form action="/admin/promote" method="post" style="display: inline">
      <input type="hidden" name="username" value="<%= user.username %>" />
      <button type="submit">Promote to Admin</button>
    </form>
    <% } else { %>
    <form action="/admin/demote" method="post" style="display: inline">
      <input type="hidden" name="username" value="<%= user.username %>" />
      <button type="submit">Demote from Admin</button>
    </form>
    <% } %>
  </li>
  <% }); %>
</ul>
